/*====================================================================================================*/
/* RESET */
/*====================================================================================================*/
html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, figure, footer, header, hgroup, menu, nav, section, menu,
time, mark, audio, video{
	background:transparent;
	border:0;
	font-size:100%;
	font-style:normal;
	font-weight:normal;
	margin:0;
	outline:0;
	padding:0;
	vertical-align:baseline;
}
article, aside, figure, footer, header, hgroup, nav, section{ 
	display:block; 
}
html, body{
	height:100%;
}
body {
	background:#fff;
	color:#000;
	font-family:Arial, Helvetica, sans-serif;
	font-size:13px;
	line-height:1.2308em;
}
ol, ul{
	list-style:none;
}
blockquote, q{
	quotes:none;
}
/* remember to define focus styles! */
:focus{
	outline:0;
}
/* remember to highlight inserts somehow! */
ins {
	text-decoration:none;
}
del {
	text-decoration:line-through;
}
/* tables still need cellspacing="0" */
table {
	border-collapse:collapse;
	border-spacing:0;
}
strong{
	font-weight:bold;
}
strong em{
	font-weight:bold;
	font-style:italic;
}
em strong{
	font-weight:bold;
	font-style:italic;
}	
em{
	font-style:italic;
}
/*====================================================================================================*/

/*====================================================================================================*/
/* FONTS */
/*====================================================================================================*/
/* Font Replacement */
@font-face {
    font-family: 'SapientSansBoldRegular';
    src: url('fonts/spntsb-webfont.eot');
    src: url('fonts/spntsb-webfont.eot?iefix') format('eot'),
         url('fonts/spntsb-webfont.woff') format('woff'),
         url('fonts/spntsb-webfont.ttf') format('truetype'),
         url('fonts/spntsb-webfont.svg#webfontIEvjje2r') format('svg');
    font-weight: normal;
    font-style: normal;
}
h1, 
h2, 
nav a{ 
	font-family: "SapientSansBoldRegular", Verdana, Arial, Helvetica, sans-serif;
	text-transform:uppercase;
	visibility: visible;
}
/*====================================================================================================*/

/*====================================================================================================*/
/* CUSTOM STYLES */
/*====================================================================================================*/
a{
	color:#f04e22;
	font-weight:bold;
	text-decoration:none;
	
	-moz-transition:color .3s ease-in-out;
	-webkit-transition: color .3s ease-in-out;
	transition: color .3s ease-in-out;
}
a:hover{
	color:#000;
}
code{
	font-family:"Courier New", Courier, monospace; 
}
h2 code{
	font-weight:bold;
}	
p{
	line-height:1.3847em;
	padding:0 0 12px;
}
strong{
	font-size:12px;
}
body{
	background:#000;
}
.main-container{
	margin:0 auto;
	position:relative;
	width:1000px;
}
header{
	background:#fff;
	margin:0 0 18px;
	padding:55px 40px 25px;
	position:relative;
	width:660px;
}
header::before{
	background:#f14924;
	content:"";
	display:block;
	height:40px;
	left:40px;
	top:0;
	position:absolute;
	width:40px;
	z-index:100;
}
h1{
	font-size:22px;
}
hgroup h1{
	padding:0 0 4px;
}	
hgroup h2{
	color:#8a8a8a;
	font-size:11px;
	padding:0 0 11px;
	text-transform:uppercase;
}	
.main-container > nav{
	background:#fff;
	position:absolute;
	right:240px;
	top:0;
}
.main-container > nav{
	background:#fff;
	position:absolute;
	right:240px;
	top:0;
}	
nav h1{
	position:absolute;
	left:-100000px;
}
.recs ul li:after,
.second-level a:after,
dt:after{
	background:#f04e22;
	content:"";
	display:block;
	height:4px;
	left:0;	
	position:absolute;
	top:7px;
	width:4px;
}
.second-level a:hover:after{
	background:#000;
}
.second-level a:after{
	height:3px;
	top:10px;
	width:3px;
}
nav a{
	font-size:12px;
	font-weight:normal;
}
nav > ul{
	border-bottom:2px solid #d8d9db;
	position:fixed;
	top:0;
	width:240px;			
}
nav > .not-fixed{
	position:absolute;			
}
nav > ul > li{
	background:#ebeced;
	border-top:2px solid #d8d9db;
}
nav > ul > li > ul{
	display:none;
}
nav .active ul{
	display:block;
}
.top-level{
	display:block;
	font-size:13px;
	line-height:28px;
	padding:0 0 0 12px;
	text-transform:uppercase;
}
.second-level li{
	background:#fff;
	border-top:2px solid #d8d9db;
}
.second-level a{
	display:block;
	margin:0 0 0 12px;
	padding:4px 0 4px 10px;
	position:relative;
}
.second-level ul a{
	font-size:11px;
	padding:4px 0 4px 20px;
}
.second-level ul a:after{
	left:10px;
}
nav code{
	font-weight:bold;
}
section{
	background:#fff;
	display:block;
	margin:0 0 18px;
	width:740px;
}
section h1{
	background:#807f83;
	color:#f1f1f1;
	line-height:45px;
	margin:0 0 40px;
	padding:0 0 0 22px;
}
section > p{
	margin:-20px 0 0 0;
	padding:0 20px 16px;
}
.recs > li{
	overflow:visible;	
	padding:40px 40px 24px;
	position:relative;
}
.recs h2{
	background:#d8d9db;
	left:20px;
	line-height:26px;
	padding:2px 20px 0;
	position:absolute;
	top:0;
	width:660px;      
}
.recs ul{
	margin:0 0 12px;
	padding:0 0 0 9px;
}
.recs ul li{
	padding:0 0 0 10px;
	position:relative;
}
.recs ul ul{
	margin:0;
	padding:10px 0 0 7px;
}
figure{
	background:#d8f2f8;
	margin:0 0 15px;
	padding:0 0 9px;
}

figcaption{
	background:#bae8f2;
	display:block;
	font-size:11px;
	line-height:15px;
	padding:0 5px 0 0;
	text-align:right;
}
section h3{
	font-weight:bold;
	padding:12px 0;
}
dl{
	margin:0 0 12px;
	padding:0 0 0 10px;
}
dt{
	display:block;
	font-weight:bold;
	padding:0 0 4px 10px;
	position:relative;
}
dt:after{
	top:5px;
}
dd{
	padding:0 0 0 10px;
}
blockquote {
  font-style: italic;
  line-height: 1.3847em;
  padding: 0 12px 12px 12px;
}
/*====================================================================================================*/
	
/*====================================================================================================*/
/* Syntax Highlighter */
/*====================================================================================================*/
/**
 * GitHub theme
 *
 * @author Craig Campbell
 * @version 1.0.2
 */
figure pre {
    border: 1px solid #D8F2F8;
    word-wrap: break-word;
    padding: 6px 10px;
    line-height: 19px;
}
figure pre code {
    border: 0px;
    padding: 0px;
    margin: 0px;
}
figure pre, 
figure pre code {
    font-size: 12px;	
    font-family: 'Bitstream Vera Sans Mono', Courier, monospace;
    color: #333;
    background: #f8f8f8;
}
figure pre, 
figure pre code {
    font-size: 12px;
}
figure pre .comment {
    color: #998;
}
figure pre .support {
    color: #0086B3;
}
figure pre .tag, 
figure pre .tag-name {
    color: navy;
}
figure pre .keyword, 
figure pre .css-property, 
figure pre .vendor-figure prefix, 
figure pre .sass, 
figure pre .class, 
figure pre .id, 
figure pre .css-value, 
figure pre .entity.function, 
figure pre .storage.function {
    font-weight: bold;
}
figure pre .css-property, 
figure pre .css-value, 
figure pre .vendor-figure prefix, 
figure pre .support.namespace {
    color: #333;
}
figure pre .constant.numeric, 
figure pre .keyword.unit, 
figure pre .hex-color {
    font-weight: normal;
    color: #099;
}
figure pre .entity.class {
    color: #458;
}
figure pre .entity.id, 
figure pre .entity.function {
    color: #900;
}
figure pre .attribute, 
figure pre .variable {
    color: teal;
}
figure pre .string, 
figure pre .support.value  {
    font-weight: normal;
    color: #d14;
}
figure pre .regexp {
    color: #009926;
}